@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

.theme-light {
  --main-background: hsl(222, 26%, 31%);
  --keypad-background: hsl(223, 31%, 20%);
  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  --equal-button-background: hsl(6, 63%, 50%);
  --equal-button-shadow: hsl(6, 70%, 34%);
  --text-color: hsl(222, 26%, 31%);
  --span-two-background: hsl(225, 21%, 49%);
  --span-two-shadow: hsl(224, 28%, 35%);
  --text-view-background: hsl(224, 36%, 15%);
  --text-view-font-color: white;
  --intro-name-font-color: white;
}
.theme-dark {
  --main-background: hsl(0, 0%, 90%);
  --keypad-background: hsl(0, 5%, 81%);
  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(185, 58%, 25%);
  --equal-button-background: hsl(25, 98%, 40%);
  --equal-button-shadow: hsl(25, 99%, 27%);
  --text-color: hsl(60, 10%, 19%);
  --span-two-background: hsl(185, 42%, 37%);
  --span-two-shadow: hsl(185, 42%, 37%);
  --text-view-background: hsl(0, 0%, 93%);
  --text-view-font-color: hsl(60, 10%, 19%);
  --intro-name-font-color: black;
}
.theme-new {
  --main-background: hsl(268, 75%, 9%);
  --keypad-background: hsl(268, 71%, 12%);
  --key-background: hsl(268, 47%, 21%);
  --key-shadow: hsl(281, 89%, 26%);
  --equal-button-background: hsl(176, 100%, 44%);
  --equal-button-shadow: hsl(177, 92%, 70%);
  --text-color: hsl(52, 100%, 62%);
  --span-two-background: hsl(281, 89%, 26%);
  --span-two-shadow: hsl(290, 70%, 36%);
  --text-view-background: hsl(268, 71%, 12%);
  --text-view-font-color: hsl(52, 100%, 62%);
  --intro-name-font-color: hsl(52, 100%, 62%);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-background);
  font-family: "Spartan", sans-serif;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  min-height: 100vh;
}

.intro {
  display: flex;
  flex-direction: row;
}

.intro-theme {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 25rem;
}

.intro-name p {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--intro-name-font-color);
}

.intro-theme p {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--intro-name-font-color);
  cursor: pointer;
}

.textview {
  font-family: "Spartan", sans-serif;
  margin-bottom: 10px;
  padding: 15px 10px;
  max-width: 500px;
  background-color: var(--text-view-background);
  color: var(--text-view-font-color);
  font-weight: 700;
  font-size: 4rem;
  text-align: right;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
}

.calculator-grid {
  width: 100%;
max-width: 460px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: minmax(80px, auto) repeat(5, 80px);
  background-color: var(--keypad-background);
  padding: 20px;
  border-radius: 10px;
}

.calculator-grid > input {
  cursor: pointer;
  font-family: "Spartan", sans-serif;
  font-size: 32px;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  background-color: var(--key-background);
  margin: 10px;
  box-shadow: 0px 5px var(--key-shadow);
  color: var(--text-color);
}

.calculator-grid > input:hover {
  background-color: hsl(223, 31%, 20%);
}

.span-two {
  grid-column: span 2;
}

.span-two.reset-button {
  background-color: var(--span-two-background);
  color: white;
  box-shadow: 0px 2px var(--span-two-shadow);
  font-size: 1.2rem;
}

.button.delete-button {
  background-color: var(--span-two-background);
  color: white;
  box-shadow: var(--span-two-shadow);
  font-size: 1rem;
}

.span-two.equal-button {
  background-color: var(--equal-button-background);
  box-shadow: 0px 2px var(--equal-button-shadow);
  color: white;
  font-size: 2rem;
}

#switch {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0 12px;
  cursor: pointer;
  background-color: hsl(6, 63%, 50%);
}

@media screen and (max-width: 375px) {
  .calculator-grid {
    width: 80%;
    height: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: minmax(80px, auto) repeat(5, 80px);
    background-color: var(--keypad-background);
    padding: 20px;
    border-radius: 10px;
  }
  .textview {
    width: 80%;
  }
  .intro {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  .intro-theme {
    margin-left: 15rem;
  }
}

.attribution {
  text-align: center;
}